# filename gutenbergeureka.service
[Unit]
Description=Simple Docker Eureka Server
After=network.target
After=docker.service
Requires=docker.service

[Service]
# edit path to match your own filesystem 
Environment="BASHDIR=/home/ubersfeld/Documents/gutenberg-adagio/service"
# edit to match your own username
User=ubersfeld
ExecStartPre=-/bin/bash -c 'cd $BASHDIR ; ./createNetwork.sh'
ExecStart=/bin/bash -c 'cd $BASHDIR ; ./startEureka.sh'
ExecStop=/bin/bash -c 'cd $BASHDIR ; ./stopEureka.sh'

[Install]
WantedBy=multi-user.target
