# filename gutenbergproxy.service
[Unit]
Description=Simple Docker ElasticsSearch Application
After=network.target
After=docker.service
After=gutenbergbook.service
After=gutenbergorder.service
After=gutenbergreview.service
After=gutenberguser.service
Requires=docker.service
Requires=gutenbergbook.service
Requires=gutenbergorder.service
Requires=gutenbergreview.service
Requires=gutenberguser.service

[Service]
# edit path to match your own filesystem
Environment="BASHDIR=/home/ubersfeld/Documents/gutenberg-adagio/service"
# edit to match your own username
User=ubersfeld
ExecStart=/bin/bash -c 'cd $BASHDIR ; ./startZuul.sh'
ExecStop=/bin/bash -c 'cd $BASHDIR ; ./stopZuul.sh'

[Install]
WantedBy=multi-user.target
